@*@CustomCode*@
@model QTHungryDogsCustomer.AspMvc.Models.Base.Restaurant

<style>
    .row {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    h3 {
        margin-top: 20px;
    }
</style>

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.DisplayName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DisplayName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.OwnerName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.OwnerName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.UniqueName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.UniqueName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Email)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.AddressStreet)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.AddressStreet)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.AddressHousenumber)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.AddressHousenumber)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.AddressZipcode)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.AddressZipcode)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.AddressCity)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.AddressCity)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.OpenState)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.OpenState)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.State)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.State)
    </dd>
</dl>
<hr />

<div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            <strong>Opening hours</strong>
        </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
            <dl class="row">
                <dt class="col-sm-2">
                    Weekday
                </dt>
                <dt class="col-sm-1">
                    OpenFrom
                </dt>
                <dt class="col-sm-1">
                    OpenTo
                </dt>
            </dl>
            <p></p>
            @foreach (var item in Model.OpeningHours.Where(e => e.IsActive).OrderBy(e => e.Weekday).ThenBy(e => e.OpenFrom))
            {
                var style = string.Empty;

                if ((int)DateTime.Now.DayOfWeek == (int)item.Weekday)
                {
                    style = "color: green;";
                }
                <dl class="row" style="@style">
                    <dd class="col-sm-2">
                        @item.Weekday
                    </dd>
                    <dd class="col-sm-1">
                        @item.OpenFrom.ToString("hh':'mm")
                    </dd>
                    <dd class="col-sm-1">
                        @item.OpenTo.ToString("hh':'mm")
                    </dd>
                </dl>
            }
        </div>
    </div>
</div>
