@*@GeneratedCode*@
@model QTHungryDogsCustomer.AspMvc.Models.Base.Restaurant

<tr>
 <td>
  @Html.DisplayFor(model => model.DisplayName)
 </td>
 <td>
  @Html.DisplayFor(model => model.OwnerName)
 </td>
 <td>
  @Html.DisplayFor(model => model.UniqueName)
 </td>
 <td>
  @Html.DisplayFor(model => model.Email)
 </td>
 <td>
  @Html.DisplayFor(model => model.AddressStreet)
 </td>
 <td>
  @Html.DisplayFor(model => model.AddressHousenumber)
 </td>
 <td>
  @Html.DisplayFor(model => model.AddressZipcode)
 </td>
 <td>
  @Html.DisplayFor(model => model.AddressCity)
 </td>
 <td>
  @Html.DisplayFor(model => model.OpenState)
 </td>
 <td>
  @Html.DisplayFor(model => model.State)
 </td>
 <td>
  @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
  @Html.ActionLink("Details", "Details", new { id=Model.Id }) |
  @Html.ActionLink("Delete", "Delete", new { id=Model.Id })
 </td>
</tr>
